.author {
  background-color: var(--color-white);
}

.author main .section > div {
  padding: 0 2rem;
}

/* Author Hero  */
@media (min-width: 600px) {
  .author main {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 275px auto;
    margin: 0 auto;
    max-width: var(--section-max-width);
  }

  .author main .section > div {
    padding: 2rem;
  }

  .author main .hero,
  .author main .hero picture {
    grid-column: 1;
    height: 275px;
    margin: 0 auto;
    padding: 0;
    width: 275px;
  }
}

.author main .hero {
  padding: 0;
  margin: 0 auto;
  min-height: 275px;
  width: 275px;
}

.author .hero img {
  border: 0;
  border-radius: 50%;
}

/* Author Bio  */
.author .author-bio {
  padding-top: 0px;
}

@media (min-width: 600px) {
  .author .author-bio {
    padding-top: 2rem;
  }

  .author .author-bio > div {
    display: grid;
  }
}

/* author name */
.author .author-bio h1 {
  color: var(--color-gray-700);
  font-size: var(--heading-font-size-l);
  font-weight: 400;
  grid-row: 1;
  margin: 0;
}

/* author title */
.author .author-bio h2 {
  font-weight: 400;
  font-size: var(--heading-font-size-s);
  grid-row: 2;
  margin: 0;
  text-transform: uppercase;
}

/* author links */
.author .author-bio ul:nth-of-type(1) {
  border-bottom: solid var(--color-gray-200) 1px;
  display: flex;
  grid-row: 3;
  justify-content: end;
  list-style-type: none;
  margin: 0px;
  padding: 5px 0;
}

/* author icon list */
.author .author-bio ul:nth-of-type(1) li {
  display: inline-block;
  margin: 0px 16px;
}

/* Icon styling */
.author-bio .icon svg {
  display: block;
  height: 22px;
  margin: auto;
  text-align: center;
  width: 22px;
}

.author-bio .icon svg {
  fill: var(--color-black);
}

.author-bio .icon svg:hover {
  fill: var(--color-red);
}