/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 :root {
  /* colors */
  --color-white: #fff;
  --color-black: #000;
  
  /* todo fix gray ordering */
  --color-off-white: #f5f5f5;
  --color-gray-100: #edecee;
  --color-gray-200: #dbd9dd;
  --color-gray-300: #524f56;
  --color-gray-300-tranparent: #524f561A;
  --color-gray-400: #595959;
  --color-gray-500: #262626;
  --color-gray-600: #a5a5a5;
  --color-gray-700: #4A4B4A;
  --color-gray-800: #c8c6cb;
  --color-red: #e90029;
  --color-dark-red: #740014;
  --background-color: var(--color-off-white);
  --text-color: var(--color-gray-400);

  /* fonts */
  --heading-font-family: "Graphik LC Web", "Graphik LC Web-fallback", sans-serif;
  --body-font-family: var(--heading-font-family);

  /* body sizes */
  --body-font-size-l: 2.2rem;
  --body-font-size-m: 1.8rem;
  --body-font-size-s: 1.5rem;

  /* heading sizes */
  --heading-font-size-xl: 5.4rem;
  --heading-font-size-l: 3.6rem;
  --heading-font-size-m: 2.6rem;
  --heading-font-size-s: 2.2rem;
  --heading-font-size-xs: 2rem;
  --heading-font-size-xxs: 1.4rem;
  
  /* misc */
  --nav-height: 5rem;
  --section-max-width: 1200px;
}

@media (min-width: 600px) {
  :root {
    --nav-height: 12rem;
  }
}

@font-face {
  font-family: 'Graphik LC Web-fallback';
  src: local(arial);
  size-adjust: 106%;
  ascent-override: normal;
  descent-override: normal;
  line-gap-override: normal;
}

html {
  /* 1rem = 10 px */
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: none;
  font-family: var(--body-font-family);
  color: var(--text-color);
  font-size: var(--body-font-size-m);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}

body.appear {
  display: block;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-weight: 500;
  line-height: 1.1;
  font-family: var(--heading-font-family);
}

.default-content-wrapper > :is(h1, h2, h3, h4, h5, h6, .heading) {
  color: var(--color-gray-500)
}

h1, .heading-h1 { font-size: var(--heading-font-size-l); }
h2, .heading-h2 { font-size: var(--heading-font-size-m); }
h3, .heading-h3 { font-size: var(--heading-font-size-s); }
h4, .heading-h4 { font-size: var(--heading-font-size-xs); }
h5, .heading-h5 { font-size: var(--body-font-size-m); }
h6, .heading-h6 { font-size: var(--body-font-size-s); }

header {
  min-height: var(--nav-height);
}

footer .footer:not(.appear)
header .header:not(.appear) {
  visibility: hidden;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section > div {
  max-width: var(--section-max-width);
  margin: 2rem auto;
  padding: 0 2rem;
}

main {
  padding-bottom: 4rem;
}

pre {
  overflow: auto;
}

/* links and buttons */
a {
  color: var(--color-red);
  text-decoration: none;
  text-underline-offset: .3rem;
}

a:is(:hover, :focus) {
  color: var(--color-dark-red);
  text-decoration: underline;
}

a.button:any-link, button {
  border: none;
  background: var(--color-red);
  color: var(--color-white);
  padding: .8rem 1.6rem;
  text-decoration: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

a.button:is(:hover, :focus), button:is(:hover, :focus)  {
  background-color: var(--color-dark-red);
  cursor: pointer;
}

a.button.secondary, button.secondary {
  background: var(--color-gray-400);
} 

a.button.secondary:is(:hover, :focus), button.secondary:is(:hover, :focus) {
  background-color: var(--color-gray-300);
}

.icon {
  --icon-width: 10px;

  display: inline-block;
  width: var(--icon-width);
  padding-inline: .5rem;
}

.icon :is(svg, img) {
  width: var(--icon-width);
  height: auto;
}

.icon svg {
  fill: currentcolor;
}
