/* SIDE BAR */
.post .author-image img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  display:block;
  height:165px;
  margin:0 auto;
  width:165px;
}

.post main .icon {
  --icon-width: 25px;
}

/* author details */
.post .author-image {
  grid-column: 1;
  height:165px;
  margin: 0 auto;
  color: var(--color-gray-200);
}

.post .author-image .icon {
  --icon-width: 125px;

  display: block;
  margin: auto;
}

.post .author-details {
  grid-column: 1;
  margin:0 auto;
  text-align: center;
}

/* author name */
.post h3.author-name {
  font-size: var(--heading-font-size-s);
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  padding:10px 0;
}

/* author title */
.post h4.author-title {
  color: var(--color-gray-700);
  font-weight: 600;
  font-size: var(--heading-font-size-xxs);
  margin:0;
  text-transform: uppercase;
}

/* social icon styling */
.post .social {
  text-align: center;
  margin:4rem 0;
}

@media (min-width: 600px) {
  .post .social {
    grid-column: 2;
    grid-row: 1 / -1;
    text-align: unset;
    margin:unset;
  }
}

.post .social span {
  margin: 0 1rem;
}

.post .social .icon svg {
  display: block;
  height: var(--icon-width);
  fill: var(--color-gray-700);
  margin: 5px auto;
  text-align: center;
}

.post .social .icon svg:hover {
  fill: var(--color-red);
}

/* Tag styling */

.post .tags-container {
  margin:0;
  grid-column: 1 / -1;
  text-align: center;
}

.post .tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-table;
  text-align: center;
}

@media (min-width: 600px) {
  .post .tags-container {
    margin:8rem 0 0 2rem;
    text-align: unset;
  }
  
  .post .tags-list {
    justify-content: unset;
  }
}

.post .tags-list li {
  border: 1px solid var(--color-gray-200);
  border-radius: 1000px;
  padding:0 2rem;
  margin:1rem 0;
}

.post .tags-list li a {
  font-size: var(--body-font-size-s);
  color: var(--color-gray-300);
}

.post .tags-list li a:is(:hover, :focus) {
  text-decoration: none;
}

.post .tags-list li:hover {
  background: var(--color-gray-300-tranparent);
}
