/* SIDE BAR */

.post .post-sidebar-wrapper {
  margin: 8rem 0;
}

@media (min-width: 600px) {
  .post .post-sidebar-wrapper {
    margin:0;
  }
  .post .post-sidebar {
    column-gap: 10px;
    display: grid;
    grid-area: sidebar;
    grid-template-areas:
    "authorimage social"
    "authordetails social";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 165px auto;
  }
}

.post .author-image img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  display:block;
  height:165px;
  margin:0 auto;
  width:165px;
}

/* author details */
.post .author-image {
  grid-area: authorimage;
  height:165px;
  margin: 0 auto;
}

.post .author-details {
  grid-area: authordetails;
  margin:0 auto;
  text-align: center;
}

/* author name */
.post h3.author-name {
  font-size: var(--heading-font-size-s);
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  padding:10px 0;
}

/* author title */
.post h4.author-title {
  color: var(--color-gray-700);
  font-weight: 600;
  font-size: var(--heading-font-size-xxs);
  margin:0;
  text-transform: uppercase;
}

/* social icon styling */
.post .social {
  text-align: center;
  margin:4rem 0;
}

@media (min-width: 600px) {
  .post .social {
    grid-area: social;
    text-align: unset;
    margin:unset;
  }
}

.post .social span {
  margin: 0px 1rem;
}

.post main .icon {
  width: 25px;
}

.post .social .icon svg {
  display: block;
  height: 25px;
  margin: 5px auto;
  text-align: center;
  width: 25px;
}

.post .social .icon svg {
  fill: var(--color-gray-700);
}

.post .social .icon svg:hover {
  fill: var(--color-red);
}

/* Tag styling */

.post .tags-container {
  margin:0;
}

.post .tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  max-height: 6.5rem;
  overflow: hidden;
  justify-content: center;
}

@media (min-width: 600px) {
  .post .tags-container {
    margin:8rem 0 0 2rem;
  }
  .post .tags-list {
    justify-content: unset;
  }
}



.post .tags-list li {
  border: 1px solid var(--color-gray-200);
  border-radius: 1000px;
  padding:0 2rem;
}

.post .tags-list li a {
  display: flex;
  gap: 2rem;
  font-size: var(--body-font-size-s);
  color: var(--color-gray-300);
}

.post .tags-list li a:is(:hover, :focus) {
  text-decoration: none;
}

.post .tags-list li:hover {
  background: var(--color-gray-300-tranparent);
}
