main .section > div.hero-wrapper.hero-full {
  max-width: unset;
  padding: 0;
  margin: auto;
}

main .hero {
  position: relative;
  padding: 32px;
  min-height: min(525px, calc(100vw * .43));
}

main .hero-full .hero {
  min-height: 300px;
}

main .hero > div > div {
  max-width: var(--section-max-width);
  margin: auto;
  color: var(--color-off-white);
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero-wrapper.hero-text-contained .hero :is(h1, p) {
  max-width: min(calc(var(--section-max-width) * .5), 75%);
}

main .hero h1 {
  font-size: var(--heading-font-size-l);
  letter-spacing: 0.04em;
  font-weight: 300;
  margin: 0.5em 0;
}

main .hero h1 > a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--color-white);
}

main .hero p {
  margin-block-end: 3rem;
  font-size: var(--body-font-size-m);
}

@media(min-width: 600px) {
  main .hero h1 {
    font-size: var(--heading-font-size-xl);
  }
  
  main .hero p {
    font-size: var(--body-font-size-l);
  }
}