main .section > div.hero-wrapper {
  margin: 2rem auto;
}

main .section > div.hero-wrapper.hero-full {
  max-width: unset;
  padding: 0;
  margin: auto;
}

main .hero {
  position: relative;
  padding: 32px;
  min-height: 525px;
}

main .hero-full .hero {
  min-height: 300px;
}

main .hero > div > div {
  max-width: var(--section-max-width);
  margin: auto;
  color: var(--color-off-white);
}

main .hero :is(h1, p) {
  max-width: 50%;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}