/* main post styling */
.post main {
  background-color: var(--color-white);
  margin: 0 1em;
}

.post main .section:not(.post-sidebar-container, .hero-container) {
  padding: 0 1em;
}

.post main .section>div {
  padding: 0;
  margin: 0;
}

/* hero restyles */
.post main .hero picture {
  z-index: 1;
}

.post main .hero {
  margin: 0 auto 2rem;
  padding: 0;
}

/* Post Hero  */
@media (min-width: 600px) {
  .post main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    margin: 2rem auto;
    max-width: var(--section-max-width);
    padding: unset;
  }

  .post main .hero picture {
    z-index: 1;
    padding-bottom: unset;
  }

  .post .hero-wrapper {
    margin: 0;
  }

  .post .hero-container {
    grid-column: 1 / -1;
    padding-bottom: 3rem;
  }
}

/* grid post sections */
.post .section:not(.post-sidebar-container, .hero-container) {
  grid-column: 2;
}

.post .section:not(.post-sidebar-container, .hero-container) h3 {
  color: var(--color-gray-400);
  font-size: var(--heading-font-size-m);
}

@media (min-width: 600px) {
  .post .post-sidebar-container {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }

  .post .hero-container~.post-sidebar-container {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
  }
}

/* Post Body */
.post .post-stats {
  min-height: 24px;
}

.post .post-stats>span {
  font-size: var(--heading-font-size-xxs);
  margin-right: 10px;
}

.post .post-stats > span.pubdate::after {
  content: '|';
  padding-inline-start: 1rem;
}

.post .icon.icon-clock svg {
  display: block;
  height: 15px;
  margin: 0;
  text-align: center;
  width: 15px;
}

.post .readtime {
  margin-left: 10px;
}

/* Post styles */
.post .blog-category {
  font-size: var(--heading-font-size-xxs);
  margin: 0;
  text-transform: uppercase;
}

/* Post headline */
.post main h1:first-of-type {
  color: var(--color-gray-300);
  font-size: var(--heading-font-size-l);
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 42px;
  margin: 0.25em 0;
  min-height: 20px;
  text-transform: none;
}

.post :is(.related-content-container, .post-cards-container)>div:first-child {
  border-top: 1px solid #eee;
}