.related-content p:empty {
  display: none;
}

.related-content .cols {
  --num-cols: 1;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--num-cols), minmax(0, 1fr));
}

.related-content .cols ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.related-content .cols ul > li {
  margin-top: 2rem;
}

@supports (container-type: inline-size) {
  .related-content {
    container-type: inline-size;
  }

  @container (min-width: 560px) {
    .related-content .cols {
      --num-cols: 2;
    }
  }
  
  @container(min-width: 860px) {
    .related-content .cols {
      --num-cols: 3;
    }
  }
}

@supports not (container-type: inline-size) {
  @media (min-width: 600px) {
    .related-content .cols {
      --num-cols: 2;
    }
  }
  
  @media (min-width: 900px) {
    .related-content .cols {
      --num-cols: 3;
    }
  }
}
