.related-content p:empty {
  display: none;
}

.related-content .cols {
  display: flex;
  flex-direction: column;
}

.related-content .cols ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.related-content .cols ul > li {
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .related-content .cols {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
  }

  .related-content .cols > div {
    flex: 1 1 calc(33% - 4rem);
    min-width: 20rem
  }
}
