main {
  font-family: system-ui, Arial;
}

main .intro {
  font-size: 1.2rem;
}

main input {
  width: 100%;
  font-size: 2rem;
  border: none;
  border-bottom: solid 1px grey;
  padding-top: 5px;
  font-family: inherit;
}

main select {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  padding-top: 5px;
  font-family: inherit;
}

main .filter {
  padding: 20px 10px 20px 10px;
  display: grid;
  gap: 3rem;
}

@media(min-width: 900px) {
  main .filter {
    grid-template-columns: 300px 1fr;
  }
}

main #selected {
  padding: 30px;
}

main #selected button {
  border-radius: 1em;
  padding: 5px 20px;
}

#results {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 150px;
}

#results > .category.empty {
  display: none;
}

#results > .category ul {
  list-style: none;
  padding-inline-start: 20px;
}

#results > .category ul > li {
  margin-block-end: 10px;
}

main {
  padding: 20px;
  font-size: 1.3rem;
  line-height: 1.2em;
}

.tag {
  --tag-bg-color: #0d66d0;
  --tag-selection-color: lightgrey;

  background-color: var(--tag-bg-color);
  color: var(--tag-selection-color);
  padding: 4px 20px;
  border-radius: 10px;
}

.tag.cat-1 {
  --tag-bg-color: #d7373f;
}

.tag.cat-2 {
  --tag-bg-color: #12805c;
}

.tag.cat-3 {
  --tag-bg-color: #d2b200;
  --tag-selection-color: dimgrey;
}

.path.selected .tag {
  color: var(--tag-bg-color);
  background-color: var(--tag-selection-color);
  border: 2px ridge var(--tag-bg-color);
  font-weight: 700;
}

span.tag .highlight {
  font-weight: 700;
  color: white;
}

.path {
  cursor: pointer;
  border-radius: 10px;
  border: 1px dashed black;
  padding: 6px 10px;
  font-size: 18px;
  line-height: 1.5;
  text-wrap: nowrap;
}

.path.filtered {
  display: none;
}

span.psep {
  font-size: 20px;
  font-weight: bold;
  margin-inline: 0.5ch;
}

#selected {
  position: fixed;
  bottom: 0;
  background-color: lightsalmon;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  display: grid;
  gap: 1rem
}

@media(min-width: 600px) {
  #selected {
    grid-template-columns: 1fr 100px;
  }
}

#selected button:disabled {
  background-color: #ccc;
  color: grey;
}

#selected button {
  background-color: #F25749;
  color: white;
  border: 1px solid white;
  font-size: 13px;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  height: min-content;
  gap: 1rem;
}

.selected-tags .tag {
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.offscreen {
  position: absolute;
  top: -1000px;
}