main .topics .topics-nav {
  display: flex;
  justify-content: end;
  position: relative;
}

main .topics .nav-title {
  border-bottom: 4px solid var(--color-gray-600);
  color: var(--color-gray-500);
  line-height: 1.3;
  text-transform: uppercase;
}

main .topics .nav-title:is(:hover, :focus) {
  text-decoration: none;
}

main .topics .topics-list {
  position: absolute;
  top: .8rem;
  padding: 2rem 1.3rem;
  list-style: none;
  background-color: var(--color-white);
  box-shadow: 0 2px 5px var(--color-gray-400);
  max-height: 30rem;
  overflow-y: auto;
}

main .topics .topics-nav[aria-expanded="false"] .topics-list {
  max-height: 0;
  visibility: hidden;
}

main .topics .topics-list a {
  color: var(--color-gray-500);
}

main .topics .topics-list a:is(:hover, :focus) {
  color: var(--color-red);
}