/* make the button just a like for the all tags page */
main .tags-container a.button {
  background: unset;
  color: #A8001C;
  font-weight: 400;
}

main .tags-container a.button:is(:hover, :focus) {
  text-decoration: underline;
  text-underline-offset: 4px;
}

main .tags-container h2 {
  margin-block-end: .5em;
  font-size: var(--heading-font-size-s);
}

main .tags .tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  max-height: 6.5rem;
  overflow: hidden;
}

main .tags .tags-list li {
  border: 1px solid var(--color-gray-200);
  border-radius: 1000px;
}

main .tags .tags-list li a {
  display: flex;
  gap: 2rem;
  padding: 0 0 0 2rem;
  font-size: var(--body-font-size-s);
  color: var(--color-gray-500);
}

main .tags .tags-list li a:is(:hover, :focus) {
  text-decoration: none;
}

main .tags .tags-list .tag-count {
  width: 0;
  visibility: hidden;
}

main .tags .tags-list li:hover {
  background: var(--color-gray-500-tranparent);
}

main .tags .all-tags {
  margin-block: 2rem;
}

main .tags .find-tag {
  display: flex;
  justify-content: end;
  position: relative;
  margin-block-end: 4rem;
}


main .tags .find-tag .find-tag-text {
  font-size: inherit;
  font-family: inherit;
  padding: 1rem 0 1rem 5rem;
  width: 27rem;
  position: relative;
  background: var(--color-white) url("/icons/search.svg") no-repeat 1.6rem center;
  background-size: 2rem 2rem;
  border: 1px solid #c8c6cb;
  outline: none;
}

main .tags .find-tag .found-tags {
  position: absolute;
  background-color: var(--color-white);
  list-style: none;
  box-shadow: 0 2px 5px var(--color-gray-400);
  padding: 1rem 2rem;
  width: 27rem;
  top: 2.5rem
}

main .tags .find-tag .found-tags:empty {
  display: none;
}

/* All tags block variant */
main .tags.all .tags-list {
  max-height: unset;
}

main .tags.all .tags-list .tag-count {
  width: auto;
  visibility: visible;
  display: inline-block;
  border-radius: 1000px;
  background: var(--color-gray-200);
  min-width: 2.2rem;
  text-align: center;
}