header {
  --header-background-color: var(--color-white);
  --header-nav-border-color: var(--color-gray-200);
  --header-nav-hover-color: var(--color-gray-100);
  --header-nav-background-color: var(--color-off-white);
  --header-text-color: var(--color-gray-700);
  --header-nav-text-color: var(--color-gray-400);
  --header-nav-height: calc(var(--nav-height) - 1px);

  background-color: var(--header-background-color);
  color: var(--header-text-color);
  border-bottom: 1px solid var(--header-text-color);
}

header nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: var(--header-nav-height);
  max-width: var(--section-max-width);
  margin: auto;
  z-index: 4;
  position: relative;
  background-color: var(--header-background-color);
}

header nav[aria-expanded='true'] {
  grid-template-rows: var(--header-nav-height)
    4rem
    1fr;
}

header nav :is(.nav-blog-home, .nav-sections, .nav-tools) {
  display: none;
}

@media (min-width: 600px) {
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem 0;
  }

  header nav :is(.nav-blog-home, .nav-sections, .nav-tools) {
    display: flex !important;
    align-items: center;
  }
}

header nav .nav-blog-home {
  width: 100%;
  grid-column: 1 / span 6;
  grid-row: 2;
  border: 2px solid var(--header-nav-border-color);
  border-inline: 1px solid var(--header-nav-border-color);
}

header nav .nav-blog-home p {
  margin: 0;
}

header nav .nav-blog-home a {
  color: var(--header-text-color);
}

header nav .nav-blog-home a:is(:hover, :focus) {
  color: var(--color-red);
  text-decoration: none;
}

header nav[aria-expanded='true'] .nav-blog-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  header nav .nav-blog-home {
    font-size: var(--heading-font-size-l);
    width: auto;
    border: none;
  }
}

header nav .nav-tools {
  width: 100%;
  grid-column: 7 / span 6;
  grid-row: 2;
  border: 2px solid var(--header-nav-border-color);
  border-inline: 1px solid var(--header-nav-border-color);
  cursor: pointer;
}

header nav .nav-tools .icon {
  --icon-width: 25px;
}

header nav .nav-tools:not(.search-open) .icon-search-close {
  display: none;
}

header nav .nav-tools.search-open .icon-search {
  display: none;
}

header nav[aria-expanded='true'] .nav-tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  header nav .nav-tools {
    width: auto;
    border: none;
  }
}

header nav .nav-brand {
  grid-column: 1 / span 4;
  grid-row: 1;
  display: flex;
  align-items: center;
}

header nav .nav-brand p {
  margin: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-brand .icon {
  --icon-width: 121px;

  display: block;
  padding: 0;
  height: 42px;
}

@media (min-width: 600px) {
  header nav .nav-brand .icon {
    --icon-width: 212px;
    
    height: 75px;
  }
}

header nav .nav-hamburger {
  cursor: pointer;
  grid-column: 12;
  grid-row: 1;
  display: flex;
  align-items: center;
  color: var(--color-red);
}

@media (min-width: 600px) {
  header nav .nav-hamburger {
    display: none;
  }
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::after,
header nav .nav-hamburger-icon::before {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  background: currentcolor;
}

header nav .nav-hamburger-icon::after,
header nav .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -6px;
  transition: rotate .3s, top .3s;
}

header nav .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 0;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  rotate: 45deg;
  top: 0;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  rotate: -45deg;
  top: 0;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  grid-column: 1 / span 12;
  grid-row: 3;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections a {
  color: var(--header-text-color);
  font-size: var(--body-font-size-s);
}

header nav .nav-sections a:is(:hover, :focus) {
  text-decoration: none;
}

header nav .nav-sections ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--header-nav-background-color);
}

header nav .nav-sections > ul > li {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--header-nav-border-color)
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections ul > li a {
  display: block;
  padding: .9rem 1.2rem;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections > ul > li > a {
  text-transform: uppercase;
}

header nav .nav-sections > ul > li[aria-expanded='true'] > a {
  background-color: var(--header-nav-border-color);
}

header nav .nav-sections > ul > li > a:is(:hover, :focus) {
  background-color: var(--header-nav-hover-color);
}

header nav .nav-sections > ul > li[aria-expanded='false'] > ul {
  max-height: 0;
  visibility: hidden;
}

header nav .nav-sections ul > li.nav-drop {
  position: relative;
}

header nav .nav-sections ul > li.nav-drop > a > .icon {
  display: none;
}

header nav .nav-sections > ul > li[aria-expanded='true'] > ul {
  max-height: auto;
  visibility: visible;
  box-shadow: 0 2px 5px var(--header-nav-text-color);
}

header nav .nav-sections > ul > li.nav-drop[aria-expanded='true'] > ul {
  padding: 1.2rem 0;
}

header nav .nav-sections > ul > li.nav-drop > ul > li > a {
  padding: .6rem 1.2rem;
  color: var(--header-nav-text-color);
}

header nav .nav-sections > ul > li.nav-drop > ul > li > a:is(:hover, :focus) {
  text-decoration: underline;
}

header nav .nav-sections > ul > li.nav-drop > ul > li:first-child > a {
  color: var(--color-red);
  text-transform: uppercase;
}

header nav .nav-sections > ul > li.nav-drop > ul > li:first-child > a .icon svg {
  fill: currentcolor;
  width: 8px;
  margin-left: 6px;
}

header nav .nav-sections ul > li.nav-drop > a::after,
header nav .nav-sections ul > li.nav-drop > a::before {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: var(--color-red);
  right: 1rem;
  top: 18px;
}

header nav .nav-sections ul > li.nav-drop > a::before {
  rotate: 90deg;
  transition: rotate .1s;
}

header nav .nav-sections ul > li.nav-drop[aria-expanded='true'] > a::before {
  rotate: 0deg;
}

@media (min-width: 600px) {
  header nav .nav-sections > ul {
    background-color: var(--header-background-color);
    display: flex;
    gap: 1rem;
  }

  header nav .nav-sections ul > li a {
    display: inline-block;
  }

  header nav .nav-sections > ul > li {
    border-bottom: none;
  }

  header nav .nav-sections > ul > li.nav-drop > ul {
    position: absolute;
    left: 0;
    min-width: 300px;
    background-color: var(--header-background-color);
  }
  
  header nav .nav-sections > ul > li.nav-drop:last-child > ul {
    left: unset;
    right: 0;
  }

  header nav .nav-sections ul > li.nav-drop > a > .icon {
    padding-inline: .5rem;
    display: inline-block;
  }

  header nav .nav-sections ul > li.nav-drop > a > .icon > svg {
    transition: rotate .1s;
  }

  header nav .nav-sections ul > li.nav-drop[aria-expanded='true'] > a > .icon > svg {
    rotate: 180deg;
  }

  header nav .nav-sections ul > li.nav-drop > a::before,
  header nav .nav-sections ul > li.nav-drop > a::after { 
    content: none;
  }
}

header .search-nav {
  display: none;
}

header .search-nav[aria-expanded='true'] {
  display: block;
}

header .appear {
  display: none;
}