.post {
  background-color: var(--color-off-white);
}
.post main {
  background-color: var(--color-white);
  max-width: 460px;
  margin:0 auto;
}
.post main .section > div {
  padding:0;
  margin:0;
}
.post main > div:not(.hero-container){
  padding:2em;
}

/* hero restyles */
.post main .hero picture {
  z-index:1;
}

.post main .hero {
  padding: 0;
  margin: 0 auto;
}


/* grid post sections */
.post .section:nth-of-type(2) {
  grid-area: content;
}

.post .section:nth-of-type(2) img{
  max-width:100%;
  height:auto;
}

.post .section:nth-of-type(2) picture + em{
position: relative;
display:block;
padding: 6px 12px;
margin: 10px 0;
width:100%;
background-color: var(--color-gray-100);
font-size: var(--body-font-size-s);
}

.post .section:nth-of-type(2) h3{
  color:var(--color-gray-400);
  font-size: var(--heading-font-size-m);
}

.post .related-content-container{
  grid-area:related-content;
}

.post .post-cards-container{
  grid-area: post-cards;
}


/* Post Hero  */
@media (min-width: 600px) {
  .post main {
      display: grid;
      margin: 2rem auto;
      max-width: var(--section-max-width);
      grid-template-areas:
      "hero hero"
      "sidebar content"
      "sidebar related-content"
      "sidebar post-cards";
      grid-template-columns: minmax(200px, 300px) minmax(50%, auto);
      grid-template-rows: auto;
      column-gap: 1.5em;
  }

  .post main .section > div.hero-wrapper {
      margin:0;
  }

  .post main > div.hero-container {
    grid-area: hero;
    padding-bottom:4em;
  }
}



/* SIDE BAR */
@media (min-width: 600px) {
  .post .post-sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-areas:
      "authorimage social"
      "authordetails social";
    grid-template-columns: minmax(165px, auto) minmax(20px, auto);
    grid-template-rows: 165px auto;
    column-gap: 10px;
  }
}

.post .author-image img{
  width:165px;
  height:165px;
  display:block;
  margin:0 auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* author details */
.author-image{
  grid-area: authorimage;
  margin: 0 auto;
  height:165px;
}

.post .author-details {
  grid-area: authordetails;
  margin:0 auto;
  text-align: center;
}

/* author name */
.post h3.author-name {
  padding:10px 0;
  line-height: 1.3;
  font-size: var(--heading-font-size-s);
  font-weight: 500;
  margin: 0;
}

/* author title */
.post h4.author-title {
  font-weight: 600;
  font-size: var(--heading-font-size-xxs);
  margin:0;
  color: var(--color-gray-700);
  text-transform: uppercase;
}

.post .social {
  grid-area: social;
}

/* author icon list */
.post .social span {
  display: inline-block;
  margin: 0px 16px;
}

/* Icon styling */
.social .icon svg {
  display: block;
  height: 25px;
  margin: 5px auto;
  text-align: center;
  width: 25px;
}

.social .icon svg {
  fill: var(--color-gray-700);
}

.social .icon svg:hover {
  fill: var(--color-red);
}

/* Post Body */
.post-stats > span{
  font-size: var(--heading-font-size-xxs);
  display:inline-block;
  margin-right:10px;
}

.icon.icon-clock svg{
  display: block;
  height: 15px;
  margin: 0;
  text-align: center;
  width: 15px;
}

.readtime{
  margin-left:10px;
}

/* Post styles */
.post .blog-category{
  margin:0;
  text-transform: uppercase;
  font-size: var(--heading-font-size-xxs);
}

.post main h1:first-of-type{
  font-size: var(--heading-font-size-l);
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 42px;
  color: #524F56;
  text-transform: none;
  margin: 0.25em 0;
}

