.post {
  background-color: var(--color-off-white);
}
.post main {
  background-color: var(--color-white);
}
.post main .section > div {
  padding:0;
}

/* Post Hero  */
@media (min-width: 600px) {
  .post main {
      display: grid;
      gap: 0px;
      margin: 2rem auto;
      max-width: var(--section-max-width);
      grid-template-columns: minmax(0, 300px) minmax(50%, auto);
      grid-template-rows: auto;
  }

  .post main .section > div.hero-wrapper {
      margin:0;
  }

  .post main > div.hero-container {
    grid-column: 1/-1;
    padding-bottom:2em;
  }

}

/* hero restyles */
.post main .hero picture {
  z-index:1;
}

.post main .hero {
  padding: 0;
  margin: 0 auto;
}


/* grid post sections */
.post .section:nth-of-type(2) {
  grid-column: 2;
  grid-row:2;
}

.post .columns-container{
  grid-column:2;
  grid-row:3;
}

.post .post-cards-container{
  grid-column:2;
}


/* SIDE BAR */
@media (min-width: 600px) {
  .post .post-sidebar {
    display: grid;
    grid-template-areas: "authorimage authordetails social";
    grid-template-areas:
      "authorimage social"
      "authordetails social";
    grid-template-rows: 165px 1fr;
    gap: 0px;
  }
}

.post .author-image img{
  width:165px;
  height:165px;
  display:block;
  margin:0 auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* author details */
.author-image{
  grid-area: authorimage;
  height:165px;
}

.post .author-details {
  grid-area: authordetails;
  margin:0 auto;
  text-align: center;
}

/* author name */
.post h3.author-name {
  padding:10px 0;
  line-height: 1.3;
  font-size: var(--heading-font-size-s);
  font-weight: 500;
  margin: 0;
}

/* author title */
.post h4.author-title {
  font-weight: 600;
  font-size: var(--heading-font-size-xxs);
  margin:0;
  color: var(--color-gray-700);
  text-transform: uppercase;
}

.post .social {
  grid-area: social;
  width:22px;
}

/* author icon list */
.post .social span {
  display: inline-block;
  margin: 0px 16px;
}

/* Icon styling */
.social .icon svg {
  display: block;
  height: 25px;
  margin: 5px auto;
  text-align: center;
  width: 25px;
}

.social .icon svg {
  fill: var(--color-gray-700);
}

.social .icon svg:hover {
  fill: var(--color-red);
}

/* Post styles */

.post .blog-category{
  margin:0;
  text-transform: uppercase;
  font-size: var(--heading-font-size-xxs);
}

.post main h1:first-of-type{
  font-size: var(--heading-font-size-l);
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 42px;
  color: #524F56;
  text-transform: none;
  margin: 0.25em 0;
}
