/* main post styling */
.post {
  background-color: var(--color-off-white);
}
.post main {
  background-color: var(--color-white);
  margin:0 1em;
}

.post main .section:not(.post-sidebar-container, .hero-container) {
  padding:0 1em;
}

.post main .section > div {
  padding:1em 0;
  margin:0;
}

/* hero restyles */
.post main .hero picture {
  z-index:1;
  padding-bottom:2em;
}

.post main .hero {
  margin: 0 auto;
  padding: 0;
}

/* Post Hero  */
@media (min-width: 600px) {
  .post main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 2rem auto;
    max-width: var(--section-max-width);
    padding: unset;
  }

  .post main .hero picture {
    z-index:1;
    padding-bottom:unset;
  }



  .post .hero-wrapper {
    margin:0;
  }

  .post .hero-container {
    grid-column: 1 / -1;
    padding-bottom:4em;
  }
}

/* grid post sections */
.post .section:not(.post-sidebar-container, .hero-container) {
  grid-column: 2;
}

.post .section:not(.post-sidebar-container, .hero-container) h3 {
  color:var(--color-gray-400);
  font-size: var(--heading-font-size-m);
}

.post .post-sidebar-container {
  margin: 8rem 0;
}

@media (min-width: 600px) {
  .post .post-sidebar-container {
    grid-column:1;
    grid-row:1;
    margin:0;
  }
  
  .post .hero-container ~ .post-sidebar-container {
    grid-column:1;
    grid-row:2;
    margin:0;
  }

  .post .post-sidebar {
    column-gap: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

/* Post Body */
.post .post-stats {
  min-height:24px;
}

.post .post-stats > span {
  font-size: var(--heading-font-size-xxs);
  margin-right:10px;
}

.post .icon.icon-clock svg{
  display: block;
  height: 15px;
  margin: 0;
  text-align: center;
  width: 15px;
}

.post .readtime{
  margin-left:10px;
}

/* Post styles */
.post .blog-category {
  font-size: var(--heading-font-size-xxs);
  margin:0;
  text-transform: uppercase;
}

/* Post headline */
.post main h1:first-of-type {
  color: var(--color-gray-300);
  font-size: var(--heading-font-size-l);
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 42px;
  margin: 0.25em 0;
  min-height:20x;
  text-transform: none;
}
