footer {
  --footer-background-color: var(--color-gray-100);
  --footer-text-color: var(--color-gray-300);

  background-color: var(--footer-background-color);
}

footer .footer {
  color: var(--footer-text-color);
  max-width: var(--section-max-width);
  margin: auto;
  min-height: 12rem;
  display: flex;
  align-items: center;
}

footer .footer ul {
  font-size: var(--body-font-size-s);
  list-style: none;
  margin: 0 1rem;
}