.modal-dialog {
  border-radius: 8px;
  border: 0;
  width: 95%;
  max-width: 670px;
}

.modal-dialog .dialog-header {
  position: relative;
}

.modal-dialog .dialog-header .dialog-close {
  position: absolute;
  height: 22px;
  width: 22px;
  right: 0;
  cursor: pointer;
}

.modal-dialog .dialog-header .dialog-close::before,
.modal-dialog .dialog-header .dialog-close::after {
  content: '';
  position: absolute;
  right: 2rem;
  width: 3px;
  height: 22px;
  display: inline-block;
  background-color: var(--color-red);
  rotate: 225deg;
}

.modal-dialog .dialog-header .dialog-close::before {
  rotate: 135deg;
}