.modal-dialog {
  border: 0;
  width: 95%;
  max-width: 670px;
  background: transparent;
}

.modal-dialog::backdrop {
  background-color: rgba(0 0 0 / 50%);
}

.modal-dialog-wrapper {
  border-radius: 8px;
  background: var(--color-white);
  position: relative;
  padding: 8px;
}

.modal-dialog .dialog-header .dialog-close {
  position: absolute;
  height: 32px;
  width: 32px;
  right: -16px;
  top: -16px;
  cursor: pointer;
  background-color: var(--color-gray-700);
  border: 2px solid var(--color-gray-100);
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0 0 0 / 50%);
}

.modal-dialog .dialog-header .dialog-close::before,
.modal-dialog .dialog-header .dialog-close::after {
  content: '';
  position: absolute;
  right: 12px;
  top: 6px;
  width: 3px;
  height: 16px;
  display: inline-block;
  background-color: var(--color-gray-100);
  rotate: 225deg;
  border-radius: 2px;
}

.modal-dialog .dialog-header .dialog-close::before {
  rotate: 135deg;
}