/* Keysight Header CSS */

.keysight-header .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.keysight-header  #keysight-lookahead-search .search-results-block ul {
  display: flex;
  column-gap: 2.3rem !important;
  flex-wrap: wrap;
}

.keysight-header  #keysight-lookahead-search #search-lookahead-input {
  font-size: 18px !important;
  padding: 15px 12px !important;
  max-height: 100% !important;
  
}

.keysight-header  #keysight-lookahead-search > a {
  font-size: 16px !important;
}

.keysight-header  #keysight-lookahead-search div > a {
font-size: 14px !important;
}

.keysight-header #keysight-lookahead-search .search-results-block ul li {
font-size: 14px !important;
padding: 12px !important;
}

.keysight-header  #keysight-lookahead-search .search-results-block div ~ div > div  {
font-size: 14px !important;
}

.keysight-header #keysight-lookahead-search .search-results-block ul li::before {
top: 10px !important;
}  

.keysight-header  .locale-chooser {
display: none !important;
}

.keysight-header  #util-locale {
  display: none !important;
}

.keysight-header .util-login {
 display: none !important;
}

.keysight-header .util-remembered {
  display: none !important;
}

.keysight-header .has-cart {
  display: none !important;
}

.keysight-header #toputil {
  display: block ; 
  justify-content: flex-end; 
  align-items: center ; 
}

@media (max-width: 479px) {
#toputil {
  display: flex !important ; 
  justify-content: space-between !important; 
  align-items: center !important ; 
}
}

.keysight-header  .util-contact {
    border: 0 solid #dbd9dd !important;
}

.keysight-header  .util-icon {
  border: 0 solid #dbd9dd !important;
}

.keysight-header #keysight-lookahead-search div h2 {
  text-align: center;
  text-transform: inherit;
  margin-bottom: 2rem;
  font-size: 36px;
}

.keysight-header  #keysight-lookahead-search #search-lookahead-input:focus {
   padding: 14px 12px !important;
}