main .post-cards {
  padding: 2rem 1rem;
  margin: 0;
}

main .post-cards .post-cards-grid {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 3.5rem;
}

main .post-cards .post-cards-grid .post-card {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--color-gray-200);
}

@media (min-width: 600px) {
  main .post-cards .post-cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  main .post-cards .post-cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

main .post-cards .post-cards-grid .post-card .post-card-image picture img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

main .post-cards .post-cards-grid .post-card .post-card-text {
  margin: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

main .post-cards .post-cards-grid .post-card .post-card-text > p {
  margin: 1rem 0;
}

@media (min-width: 900px) {
  main .post-cards .post-cards-grid .post-card.featured {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  main .post-cards .post-cards-grid .post-card.featured .post-card-image {
    position: relative;
  }

  main .post-cards .post-cards-grid .post-card.featured .post-card-text {
    height: calc(min(var(--section-max-width), 100vw) * .35);
    margin: 1rem 1rem 1rem 4rem;
  }

  main .post-cards .post-cards-grid .post-card.featured .post-card-image picture img {
    position: absolute;
    width: auto;
    height: 100%;
  }
}

main .post-cards .post-cards-grid .post-card a {
  text-decoration: none;
}

main .post-cards .post-cards-grid .post-card a:hover {
  text-decoration: underline;
}

main .post-cards .post-cards-grid .post-card .card-topic,
main .post-cards .post-cards-grid .post-card .card-topic a {
  color: var(--color-red);
  text-transform: uppercase;
  font-size: var(--body-font-size-s);
  line-height: 1.5;
}

main .post-cards .post-cards-grid .post-card .card-title a {
  color: var(--color-gray-300);
  font-weight: 500;
  font-size: var(--heading-font-size-m);
  line-height: 1.3;
}

main .post-cards .post-cards-grid .post-card .card-read,
main .post-cards .post-cards-grid .post-card .card-author,
main .post-cards .post-cards-grid .post-card .card-author a {
  display: inline;
  font-size: var(--body-font-size-s);
  color: var(--color-gray-600);
}

main .post-cards .post-cards-grid .post-card .card-read .icon svg {
  fill: currentcolor;
  width: 15px;
  position: relative;
  top: 2px;
  margin-right: .5rem;
}

main .post-cards .post-cards-grid .post-card .card-description {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: var(--body-font-size-m);
  line-height: 1.5;
}

main .post-cards .show-more-cards-container {
  display: flex;
  justify-content: center;
}

main .post-cards .show-more-cards-container .show-more-cards {
  text-transform: uppercase;
  font-family: inherit;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--color-gray-600);
  font-size: var(--body-font-size-l);
  padding: 1rem 4rem;
}